:root {
  --primary-color: white;
  --secondary-color: #475569;
  --tertiary-color: #94a3b8;

  --font--size--button: 17px;
}

/* Base Styles */

body {
  font-family: sans-serif;
}

/* Layout Styles */

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 1.5fr 8.5fr 1fr;
}

header {
  background-color: var(--secondary-color);
}

main {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-left {
  background-color: var(--tertiary-color);
  grid-column: 1 / 1;
}

.nav {
  display: flex;
  flex-direction: column;
}

.general-todos,
.project-todos {
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  gap: 5px;
}

footer {
  background-color: var(--secondary-color);
}

/* Components */

.nav-button {
  background-color: transparent;
  padding: 10px;
  font-size: var(--font--size--button);
}

/* Utilities */

/* State Styles */

.nav-button:hover {
  font-size: calc(var(--font--size--button) + 1px);
  background-color: #e2e8f0;
}

/* Media Queries */
