:root {
  --primary-color: white;
  --secondary-color: #475569;
  --tertiary-color: #94a3b8;

  --font--size--button: 17px;
  --font--size--main: 15px;
}

/* -- BASE STYLES -- */

body {
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

ul {
  list-style: none;
}

/* -- LAYOUT STYLES -- */

.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: 1.5fr 8.5fr 1fr;
}

header {
  background-color: var(--secondary-color);
  display: flex;
  place-items: center;
  gap: 20px;
}

.logo-image {
  margin-left: 10px;
  background-image: url(img/book-open.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

main {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-left {
  background-color: var(--tertiary-color);
  grid-column: 1 / 1;
}

.nav {
  display: flex;
  flex-direction: column;
}

.project-popup {
  height: 80px;
  display: none;
}

.project-todos {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

.general-todos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-right {
  grid-column: 2 / 2;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

content {
  grid-column: 2 / 2;
}

.task-popup {
  display: none;
  width: 100%;
  height: 100px;
}

/* Width and height of the form are defined by its container for reusability*/
.text-form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

footer {
  background-color: var(--secondary-color);
}

/* -- COMPONENTS -- */

.nav-button {
  background-color: transparent;
  padding: 10px;
  font-size: var(--font--size--button);
}

/*Project Cards*/

.project-card {
  background-color: transparent;
  padding: 10px;
  font-size: var(--font--size--button);
  border-radius: 15px;
}

#add-todo-button {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: var(--font--size--button);
}

.text-form input {
  grid-column: 1 / 3;
  width: 98.8.5%;
  font-size: var(--font--size--button);
}

.submit-button,
.delete-button {
  width: 100%;
  grid-row: 2 / 2;
  font-size: var(--font--size--button);
  font-weight: bold;
  border: 0px;
}

.delete-button {
  background-color: lightcoral;
}

.submit-button {
  background-color: lightgreen;
}

.todo-card {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  grid-auto-rows: none;
  justify-content: flex-start;
  border: 1px black solid;
  border-radius: 7px;
}
.todo-card-checkbox {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 30px;
  width: 30px;
  place-self: center;
}

.todo-card-title {
  margin-left: 7px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.todo-card-project {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}

.todo-card-project-select {
  display: none;
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}

.todo-card-date {
  grid-row: 1 / 1;
  grid-column: 4 / 4;
}

.todo-card-date-input {
  display: none;
  grid-row: 1 / 1;
  grid-column: 4 / 4;
}

.todo-delete-button {
  height: 30px;
  width: 30px;
  place-self: center;
  background: none;
  border: none;
  padding: 0;
  background-image: url(img/trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* -- UTILITIES -- */

/* -- STATE STYLES -- */

.nav-button:hover {
  font-size: calc(var(--font--size--button) + 1px);
  background-color: #e2e8f0;
}

.form-button:hover {
  filter: brightness(0.8);
}

/* -- MEDIA QUERIES -- */
